[ps-80-pro] 
name=PSMYSQL_8.0_PRO
baseurl=http://repo.percona.com/private/eleonorazinchenko-{{ lookup('env', 'pro_token') }}/ps-80-pro/yum/testing/$releasever/RPMS/x86_64
enabled=1
gpgkey = https://repo.percona.com/yum/PERCONA-PACKAGING-KEY